@media (max-width: 800px)  {

    .header .menu-opcoes{
        display: none;
    }
    
    .logo2{
        display: none;
    }

    .header{
        display: flex;
        justify-content: center;
    }
    
    .header .menu-opcoes a{
        font-size: 9px;
        transition: all 0.8s;
        margin: 3px;
    }

    .logo img{
        width: 50px;
        margin-right: 40px;
    }

    .banner{
        width: 100%;
        height: 200px;
        margin-top: 26%;
    }
    
    .plataformas img{
        width: 40px;
    }

    #historia{
        margin-top: 30px;
        padding: 80px 40px;
    }

    #historia img{
        width: 100%;
    }

    #sobre{
        padding: 80px 40px;
    }

    .social img{
        width: 40px;
    }

    .opcao{
        margin: 10px;
    }

    .opcao a{
        font-size: 15px;
    }

    #download h3{
        font-size: 15px;
        padding: 0 30px;
    }


    
    .feedback {
        align-items: center;
        justify-content: center;
        display: flex;
        color: #ffffff;
        margin-top: 20px;
    }
    
    .feedback form{
        background-color:#000000;
        padding: 10px 0px;
        position: relative;
        width: 300px; 
        border: 3px solid #ffffff;
        text-align: left;
    }
    
    .feedback h2{
        font-size: 20px;
        text-align: center;
    }

    .feedback .subtitle{
        text-align: center;
        font-size: 12px;
        margin: 10px 5px;
        margin-bottom: 20px;
    }
    
    .feedback p{
        text-align: left;
        font-size: 12px;
        margin: 10px;
        
    }

    label{
        margin: 0px 3px;
        font-size: 12px;
        text-align: left;
    }
    
    input, textarea{
        width: 70%;
        border: 0;
        border-bottom: 2px solid #f1f1f1;
        background-color: #000000;
        padding: 2px;
        font-size: 12px;
        color: #f1f1f1;
        outline: none;
        margin: 0 3px;
        margin-bottom: 10px;
    }
    
    select{
        margin: 0px 3px;
        font-size: 12px;
        background-color: #000000;
        border: 0;
        padding: 2px;
        overflow: hidden;
        text-align: center;
        outline: none;
    }
    
    option{
        font-size: 12px;
        color: #ffffff;
    }
    
    
      form button{
        border: 2px solid #ffffff;
        background-color: #ff4747;
        padding: 2px 12px;
        font-size: 12px;
        transition: 0.3s;
        text-decoration: none;
        color: #ffffff;
        margin-top: 20px;
        cursor: pointer;
      }
    
      form button:hover{
        background-color: #ffffff;
        border: 2px solid #ffffff;
        color: #ff4747;
      }

      footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        font-size: 10px;
    }
    
    .center-footer .logo img{
        width: 80px;
    }

}